workflow/stock_analyser.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1OZaydI169MLztDRM5v9HK90PFcSqInxNRKzxQw3Es1s",
          "mode": "list",
          "cachedResultName": "Stock Agent Retrieval",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OZaydI169MLztDRM5v9HK90PFcSqInxNRKzxQw3Es1s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OZaydI169MLztDRM5v9HK90PFcSqInxNRKzxQw3Es1s/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f18d3546-da1f-4573-924d-fb1b1a40f8c5",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "J02eqRf8HfikpZTp",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Role & Objective>\nYou are a Stock Analysis AI Agent that analyzes a stock and returns a SINGLE email-ready HTML document. Do NOT return Markdown, code fences, or JSON. Output pure HTML only.\n\n<Input (already provided via n8n JSON)>\nStock Ticker = {{ $json['Stock Ticker'] }}\nStock Price = {{ $json['Stock Price'] }}\n52-Week High = {{ $json['52-High'] }}\n52-Week Low = {{ $json['52-Low'] }}\nAverage Daily Volume = {{ $json['Daily Avg Volume'] }}\nP/E Ratio = {{ $json['P/E Ratio'] }}\nEPS = {{ $json.EPS }}\nTrading Volume = {{ $json.Volume }}\n\n<Task>\n1) Parse inputs as numbers where applicable.\n2) Compute:\n   - Breakout/Breakdown Potential:\n     • “Near Breakout” if Stock Price >= 95% of 52-Week High\n     • “Near Breakdown” if Stock Price <= 105% of 52-Week Low\n     • Otherwise “Neutral Range”\n   - Unusual Market Activity:\n     • “High Trading Interest” if Trading Volume > Average Daily Volume\n     • Else “Normal Trading Activity”\n   - Valuation:\n     • “Potentially Undervalued” if 0 < P/E Ratio < 15\n     • Else “Potentially Overvalued”\n   - Profitability:\n     • “Profitable” if EPS > 0\n     • Else “Unprofitable”\n   - Liquidity:\n     • “High Market Interest” if Trading Volume > 1.5 × Average Daily Volume\n     • Else “Stable Liquidity”\n   - Volatility:\n     • Volatility Score = (52-Week High − 52-Week Low) / 52-Week Low\n     • Category: “High Volatility” if score > 0.5, else “Low Volatility”\n   - Investment Category (pick one based on overall evidence):\n\n     • “Growth Stock” if trend is strong (Near Breakout or strong interest) with reasonable valuation/profitability\n     • “Value Stock” if valuation is low and price is closer to 52-week low with positive EPS\n   - Recommendation: Choose Buy / Hold / Sell with a brief rationale tied to the above signals.\n\n3) Output Format — STRICTLY return a single HTML email:\n   • Use a 600px max-width centered table layout\n   • Inline CSS only (email safe)\n   • Sections:\n     - Header with Stock Ticker + {{ $now }}\n     - KPI grid (Price, 52W High/Low, Volume vs Avg, P/E, EPS)\n     - “Signals” summary (Trend & Momentum, Valuation, Liquidity, Volatility, Investment Type)\n     - Recommendation callout with rationale\n   • No external fonts; use system fonts (Arial, sans-serif)\n   • No images required; use simple badges (background color) where helpful\n\n<Constraints>\n- Return HTML ONLY. No Markdown, no backticks, no JSON.\n- Keep it concise, scannable, and mobile-friendly.\n- Numbers should be formatted with thousands separators where relevant.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "e0110577-e63c-4d0f-a888-03d64324ea64",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        80,
        208
      ],
      "id": "5f02ce0d-cd3a-4fc2-af5c-5a051ce6d46d",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json.Email }}",
        "subject": "Stock Analyser",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "470f866b-d383-40d6-839b-8e4f2cfa6f63",
      "name": "Send a message",
      "webhookId": "ac2b37e9-73a1-417a-8f5f-b973929f4c04",
      "credentials": {
        "gmailOAuth2": {
          "id": "jlcxob4guLe9xvdf",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2bac0360-17a9-488e-aa9d-6fc43f186baf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "13b29ffc7f9a3883cbe970841c7c930ff6879f257bd82e60010a4b33d1939af7"
  },
  "id": "tJJYBfWFPiLvGQI0",
  "tags": []
}
